.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 16px;
  right: 0;
  background-color: rgba(33, 33, 33, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
  z-index: 2;
}
.modal__close-btn {
  background-image: url(../images/xsymbol.svg);
  background-size: contain;
  background-color: transparent;
  color: rgba(33, 33, 33);
  opacity: 40%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  bottom: 32px;
  width: 40px;
  margin: 0;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__container {
  background-color: rgba(255, 255, 255, 1);
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}
.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  top: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 33, 33);
}
.modal__input {
  padding: 16px 12px;
  max-width: 630px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}
.modal__submit-btn {
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}
.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.modal__content {
  max-width: 730px;

  box-sizing: border-box;

  border-radius: 10px;
  position: relative;
  border: none;
  padding: 36px 50px 32px;
}

.modal__close_type-preview {
  padding: 0;
}
.modal__close_preview-btn {
  background-image: url(../images/light-close-btn.svg);
  padding: 0;
  top: 0;
  right: -52.5px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  opacity: 1;
}
.modal__close_preview-btn:hover {
  opacity: 40%;
}
.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
}
.modal__caption {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255);
  background-color: rgba(33, 33, 33);
  border-radius: 8px;

  position: center;
  padding: 4px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 214px;
  margin: 0;
}
@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    top: 22px;
    max-width: 106px;
    font-size: 20px;
  }
  .modal__close-btn {
    top: 12px;
    right: 22px;
    cursor: pointer;
  }
  .modal__submit-btn {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .modal__caption {
    max-width: 111px;
  }
}
